In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")
# Call the function
say_hello()

Hello!

In [8]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)
say_something("Hello world")

Hello world

In [9]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [10]:
# A list of grades.
my_grades = ['B', 'C', 'B', 'D']

In [11]:
# Import pandas
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [12]:
# Change the grades by one letter grade
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [13]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [15]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86,78, 78.32])
my_grades
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    86
3    78
4    78
dtype: object

In [17]:
# Format the "Total Students" to have the comma for a thousands seperator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined